# JetBrains (CLion)
.idea/
*.user

# VSCode
.vscode/
*.code-workspace

# Build
build/
cmake-build-*/

# Binários e objetos C/C++
*.o
*.a
*.so
*.exe
*.out

# Windows
Thumbs.db
desktop.ini

# Resultados das compressões
silesia_compress/
silesia_restored/